@charset "ISO-8859-1";

@font-face {
	font-family: 'Colonna MT';
	font-style: normal;
	font-weight: 400;
	src: local('Colonna MT'), local('ColonnaMT-Regular'),
		url(../fonts/ColonnaMT.ttf) format('truetype');
}

.aside {
	padding: 1em;
	position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 0px;
    height: 979px;
    z-index: 0;
    width: 200px;
    display: block;
    border: none;
	background: #303030;
}

section.center {
	padding: 3em;
	position: absolute;
    margin: 0px;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 979px;
    width: calc(100% - 200px);
    z-index: 0;
    display: block;
    visibility: visible;
}

.logo {
    width: 150px;
    text-align: center;
    margin: 10px 0;
}

.logo hr {
    margin-top: 0;
    margin-left: 30px;
    width: 90px;
    margin-bottom: 0;
    border: 2px solid #fff;
    border-top: none;
}

.logo .title {
    font-family: 'Colonna MT';
    font-size: 5em;
    margin: 7px;
    color: #308e51;
    line-height: 41px;
}

.logo .subtitle {
    font-family: 'monospace';
    font-size: 43px;
    color: #fff;
    line-height: 40px;
}

table.ui-panelgrid {
	width: 100%;
}

legend.ui-fieldset-legend.ui-corner-all.ui-state-default,
.bg-primary {
	color: #fff;
	background: #303030;
}

.btn-primary:hover {
    color: #fff;
    background-color: #303030;
    border-color: #303030;
}

button.ui-button.ui-state-hover {
	background-color: #303030;
    border-color: #303030;
}